@model DCCore.WebMvc.Identity.IdentityRole
@{
    ViewBag.Title = "Agregar Nuevo Rol";
}
<h2>Agregar Nuevo Rol:</h2>

@using (Html.BeginForm())
{
    <p> Ingrese el nombre:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Crear Rol" />
}
