@model DCCore.Domain.Entities.Group
@{
    ViewBag.Title = "Agregar Nuevo Grupo";
}
<h2>Agregar Nuevo Grupo:</h2>

@using (Html.BeginForm())
{
    <p> Ingrese el nombre:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Crear Grupo" />
}
